.lead {
  max-width: calc(1280px - 296px);
  padding: 56px 0 0 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(1024px - 96px);
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100vw;
  }
}
